*{
margin: 0;
padding: 0;
}
.container{
	width: 100vw;
	position: relative;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/6.jpg);
	background-position: center;
	background-size: cover;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}

.navbar{
	height: 12%;
	display: flex;
	align-items: center;
}

.menu-icon{
	width: 30px;
	margin-left: 40px;
/*	cursor: pointer;*/
}

nav{
	flex: 1;
	text-align: right;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 13px;
}

.row{
	display: flex;
	height: 88%;
	align-items: center;
}

.col{
	flex-basis: 50%;
}

h1{
	color: #fff;
	font-size: 100px;
}

p{
	color: #fff;
	font-size: 11px;
	line-height: 15px;
}

button{
	width: 180px;
	color: #000;
	font-size: 12px;
	padding: 12px;
	background: #fff;
	border: 0;
	border-radius: 20px;
	outline: none;
	margin-top: 30px;
}

.card{
	width: 200px;
	height: 230px;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 20px 25px;
	transition: transform 0.5;
}

.card1{
		background-image: url(../images/1.jpg);
		background-repeat: no-repeat;
		background-size: 200px;
}

.card2{
		background-image: url(../images/2.jpg);
		background-repeat: no-repeat;
		background-size: 200px 250px;
}

.card3{
		background-image: url(../images/3.jpg);
		background-repeat: no-repeat;
		background-size: 200px;
}

.card4{
		background-image: url(../images/4.jpg);
		background-repeat: no-repeat;
		background-size: 200px;
}

.card:hover{
	transform: translateY(-10px);
}

h5{
	color: #fff;
	text-shadow: 0 0 5px #999;
}

.card p{
	text-shadow: 0 0 15px #000;
	font-size: 8px;
}

.mfp-hide{
	display: none !important;
}

.button{
	padding: 10px 10px;
	border-color: white;
	font-size: 17px;
	font-size: 1.7rem;
	font-family: tahoma;
	font-weight: bold;
	
	float: right;
	display: inline-block;
}

.button{
	border-color: 2px solid white;
	color: black;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;
	border-radius: 30px;
	background: white;
	font-weight: bold;
}



.button:hover, .button:focus{
	background:transparent;
	text-decoration: none;
	color: white;
	font-weight: bold;
	outline: none;
}

iframe{
	margin-left: 80px;
}

button.mfp-close{
	overflow: visible;
	cursor: pointer;
	background-color: white;
	border:0;
	-webkit-appearance:none;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
}